<form class="row g-3" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Create Employee</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="FullName">Full Name</label>
        <div class="col-sm-8">
          <input id="FullName" type="text" class="form-control" formControlName="FullName"
          [ngClass]="{'is-invalid': formErrors.FullName}" (blur)="logValidationErrors()">
          <span *ngIf="formErrors.FullName"  class="invalid-feedback">
            {{formErrors.FullName}}
          </span>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="Email">Email</label>
        <div class="col-sm-8">
          <input id="Email" type="text" class="form-control" formControlName="Email" [ngClass]="{'is-invalid':formErrors.Email}" (blur)="logValidationErrors()">
          <span *ngIf="formErrors.Email" class="invalid-feedback">{{formErrors.Email}}</span>
        </div>
      </div>

      <div formGroupName="Skills">
        <div class="form-group row mt-2">
          <label class="col-sm-1 control-label" for="SkillName">Skill Name</label>
          <div class="col-sm-3">
            <input id="SkillName" placeholder="Skill Name"class="form-control" formControlName="SkillName" [ngClass]="{'is-invalid':formErrors.SkillName}" (blur)="logValidationErrors()"/>
            <span *ngIf="formErrors.SkillName" class="invalid-feedback">{{formErrors.SkillName}}</span>
          </div>
          <div class="col-sm-3">
            <input  placeholder="Experience Years"class="form-control" formControlName="ExperienceYears"[ngClass]="{'is-invalid':formErrors.ExperienceYears}" (blur)="logValidationErrors()"/>
            <span *ngIf="formErrors.ExperienceYears" class="invalid-feedback">{{formErrors.ExperienceYears}}</span>
          </div>
        </div>

        <div class="form-group row mt-2">
          <label class="col-md-2 control-label">Proficiency</label>
          <div class="col-md-8" [ngClass]="{'is-invalid':formErrors.Proficiency}">
            <label class="radio-inline">
              <input id="Proficiency" type="radio" value="beginner"
                     formControlName="Proficiency"(blur)="logValidationErrors()">Beginner
            </label>
            <label class="radio-inline">
              <input id="Proficiency" type="radio" value="intermediate"
                     formControlName="Proficiency"(blur)="logValidationErrors()">Intermediate
            </label>
            <label class="radio-inline">
              <input id="Proficiency" type="radio" value="advanced"
                     formControlName="Proficiency"(blur)="logValidationErrors()">Advanced
            </label>

          </div>
          <span *ngIf="formErrors.Proficiency" class="invalid-feedback" >{{formErrors.Proficiency}}</span>
        </div>


      </div>

    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">Save</button>

    </div>
  </div>
</form>


<table border="1">
  <tr>
    <th style="padding: 10px">FormGroup</th>
    <th style="padding: 10px">FormControl (fullName)</th>
  </tr>
  <tr>
    <td style="padding: 10px">
      touched : {{ employeeForm.touched }}
      <br/> dirty : {{ employeeForm.dirty }}
      <br/> valid : {{ employeeForm.valid }}
      <br/> Form Values : {{employeeForm.value | json}}
    </td>
    <td style="padding: 10px">
      touched : {{ employeeForm.get('FullName').touched }}
      <br/> dirty : {{ employeeForm.get('FullName').dirty }}
      <br/> valid : {{ employeeForm.get('FullName').valid }}
      <br/> FullName Value : {{employeeForm.get('FullName').value}}
    </td>
  </tr>
</table>

