
<div class="card">
  <div class="card-header"> <h3 class="card-title">Add new unit</h3></div>
  <div class="card-body">
    <form [formGroup]="unitSaveForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <input type="hidden" formControlName="UnitId" [(ngModel)]="model.UnitId"/>
          <div>
            <div class="input-group mb-3">
              <span class="input-group-text" >Unit Name</span>
              <input type="text" class="form-control" formControlName="UnitName"[(ngModel)]="model.UnitName"/>
            </div>
            <span class="error_block" *ngIf="getUnitName.invalid && (getUnitName.touched)">Please provide unit name</span>
          </div>

          <div class="mb-2">

              <mat-button-toggle-group formControlName="Status" [(ngModel)]="model.Status" aria-label="Font Style">
                <mat-button-toggle value="true">Active</mat-button-toggle>
                <mat-button-toggle value="false">Inactive</mat-button-toggle>
              </mat-button-toggle-group>

              <span class="error_block" *ngIf="getUnitStatus.invalid && (getUnitStatus.touched)">Please select active/inactive</span>
          </div>


          <div class="input-group mb-3">
            <button type="submit" [disabled]="unitSaveForm.invalid" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-danger">reset</button>
         </div>

        </div>
        <div class="col-md-8 col-sm-6">

          <div class="mat-elevation-z8">
              <app-list-unit (editEvent)="getEditData($event)"></app-list-unit>
          </div>


        </div>
      </div>

    </form>


  </div>
</div>




