<div class="card">
  <div class="card-header">
    <h3 class="card-title">Add new product</h3>
  </div>
  <div class="card-body">

    <div class="input-group mb-3">
      <span class="input-group-text" id="productName">Product Name</span>
      <input type="text" class="form-control" aria-label="productName" aria-describedby="productName">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="catagory">Category</span>
      <select type="text" class="form-control"  aria-label="catagory" aria-describedby="productName">
        <option>--Select--</option>
        <option>A</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="unit">Unit</span>
      <select type="text" class="form-control"  aria-label="unit" aria-describedby="unit">
        <option>--Select--</option>
        <option>A</option>
      </select>
    </div>

  </div>
  <div class="card-footer"></div>
</div>
