<div class="card">
  <div class="card-header">
    <h2 class="card-title">Add new user</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"
              formControlName="userName"
              [ngClass]="{'is-invalid':(userNameControl.invalid)&& userNameControl.touched}"
            />
            <small class="invalid-feedback" *ngIf="userNameControl.invalid&&(userNameControl.touched)">user name is required</small>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              [type]="type"
              class="form-control"
              id="password"
              formControlName="password"
              [ngClass]="{'is-invalid':passwordControl.invalid&& passwordControl.touched}"
            />
            <i (click)="hideShowEye()" class="fa {{eye}}" style="position: absolute;bottom: 95px;left: 30%;"></i>

            <small class="invalid-feedback" *ngIf="passwordControl.invalid&&(passwordControl.touched)">password is required</small>
          </div>


          <div class="mb-3">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
