<div class="card">
  <div class="card-header">
    <h2 class="card-title">Add new user</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form >
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"

            />
            <div
              *ngFor="let validation of validation_Messge.UserName"
              class="invalid-feedback"
            >

            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              [type]="type"
              class="form-control"
              id="password"

            />
            <span (click)="hideShowEye()" class="fa fa-eye-slash" style="position: absolute;bottom: 95px;left: 30%;"></span>
          </div>


          <div class="mb-3">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
