<div class="card">
  <div class="card-header">
    <h3 class="card-title">Employee list</h3>
  </div>
  <div class="card-body">
    <input
      [appFilter]="employeeList"
      [filterHead]="['FullName']"
      type="text"
      class="form-control"
      placeholder="search..."
    />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>FullName</th>
          <th>Email</th>
          <th>Phone</th>
          <th>contactPreference</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeList">
          <td>{{ item.FullName }}</td>
          <td>{{ item.Email }}</td>
          <td>{{ item.Phone }}</td>
          <td>{{ item.contactPreference }}</td>
          <td>
            <button class="btn btn-sm btn-danger">D</button>
            <button
              class="btn btn-sm btn-warning ms-1"
              type="button"
              (click)="edit(item)"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
