
<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      Customer List
    </h3>
  </div>
  <div class="card-body">
    <input type="text" class="form-control" [appFilter]="allCustomers" (filteredData)="onFilterdData($event)" placeholder="serach ..."/>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Mobile/Phone</th>
          <th scope="col">Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of  filteredCustomers let i=index" id="tr_{{i}}">
          <th scope="row">{{i+1}}</th>
          <td>{{item.CustomerName}}</td>
          <td>{{item.CustomerPhone}}</td>
          <td>{{item.CustomerAddress}}</td>
          <td>
              <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item.CustomerId)">D</button>
              <button type="button" class="btn btn-sm btn-warning ms-1"(click)="onEdit(item.CustomerId,staticModal)">E</button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Static modal</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <app-addNewCustomer [customerDataById]="getCustomer"(isModalClose)="isModalClose($event,staticModal)"></app-addNewCustomer>
      </div>
    </div>
  </div>
</div>
