<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      Purchase entry
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="saveForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-2">
          <select class="form-select form-select-sm" formControlName="supplierId" [ngClass]="{'is-invalid': getSupplier.invalid && (getSupplier.touched||isAddNew)}">
            <option selected value="">select supplier</option>
            <option *ngFor="let p of supplierList" value="{{p.SupplierId}}">{{p.SupplierName}}</option>
          </select>
          <span *ngIf="getSupplier.invalid && (getSupplier.touched||isAddNew)"class="invalid-feedback">Must select supplier</span>
          <div>

          </div>
        </div>
        <div class="col-12 mt-2">
          <table class="table table-bordered w-100">
            <thead>
              <tr>
                <th>Item</th>
                <th>item price</th>
                <th>Quantity</th>
                <th>other cost</th>
                <th>Discount</th>
                <th>Total</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody formArrayName="itemList">
                <tr *ngFor="let item of getItemList.controls; let i=index" [formGroupName]="i" >
                <td>
                  <select class="form-select form-select-sm" formControlName="productId" [ngClass]="{'is-invalid':
                  getPerItem(i).controls['productId'].errors &&
                  (getPerItem(i).controls['productId'].dirty ||
                     getPerItem(i).controls['productId'].touched ||isAddNew)}" (change)="onChangeProduct($event,i)">
                    <option selected value="">select</option>
                    <option *ngFor="let p of productList" value="{{p.Id}}">{{p.ProdcutCode}}-{{p.ProdcutName}}</option>
                  </select>

                  <div *ngFor="let validation of validation_message.productId"
                      class="invalid-feedback">
                      <div  *ngIf="getPerItem(i).controls['productId'].hasError(validation.type)
                    && (getPerItem(i).controls['productId'].dirty || getPerItem(i).controls['productId'].touched ||isAddNew)">
                    {{ validation.message }} </div> </div>

                </td>
                <td>
                  <input type="number" min="0" class="form-control form-control-sm text-end" formControlName="itemPrice" [ngClass]="{'is-invalid':
                  getPerItem(i).controls['itemPrice'].errors &&
                  (getPerItem(i).controls['itemPrice'].dirty ||
                     getPerItem(i).controls['itemPrice'].touched ||isAddNew)}" #tv_price (focus)="selectFullContent($event)"/>
                    <div *ngFor="let validation of validation_message.itemPrice"
                    class="invalid-feedback"  >
                    <div  *ngIf="getPerItem(i).controls['itemPrice'].hasError(validation.type)
                  && (getPerItem(i).controls['itemPrice'].dirty || getPerItem(i).controls['itemPrice'].touched ||isAddNew)">
                  {{ validation.message }} </div> </div>

                </td>
                <td>
                  <input type="number" min="0" class="form-control form-control-sm text-end" formControlName="qty" [ngClass]="{'is-invalid':
                  getPerItem(i).controls['qty'].errors &&
                  (getPerItem(i).controls['qty'].dirty ||
                     getPerItem(i).controls['qty'].touched ||isAddNew)}" #tv_qty (focus)="selectFullContent($event)"/>

                     <div *ngFor="let validation of validation_message.qty"
                      class="invalid-feedback">
                      <div  *ngIf="getPerItem(i).controls['qty'].hasError(validation.type)
                    && (getPerItem(i).controls['qty'].dirty || getPerItem(i).controls['qty'].touched ||isAddNew)">
                    {{ validation.message }} </div> </div>


                </td>
                <td><input type="number" min="0" class="form-control form-control-sm text-end" formControlName="otherCost" #tv_cost (focus)="selectFullContent($event)"/></td>
                <td><input type="number" min="0" class="form-control form-control-sm text-end" formControlName="discount"#tv_discount (focus)="selectFullContent($event)"/></td>
                <td>
                  <input type="number" class="form-control form-control-sm text-end"  formControlName="total"  [value]="(  ((+tv_qty.value)*(+tv_price.value))+(+tv_cost.value)-(+tv_discount.value) )"  readonly/>

                </td>
                <td>

                  <button *ngIf="i>0" type="button" class="btn btn-sm btn-danger"(click)="deleteRow(i)"><i class="fa-solid fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5"></td>
                <td>

                  <input class="form-control text-end" placeholder="Grand Total" formControlName="grandTotal"  readonly/>
                </td>
                <td><button type="button"   class="btn btn-sm btn-success" (click)="onAddNewRow()"><i class="fa-solid fa-plus"></i></button></td>
              </tr>
              <tr>
                <td colspan="6"></td>
                <td>
                  <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </form>
  </div>
</div>
