<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      purchase entry
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="saveForm" (ngSubmit)="onSubmit()">

      <table class="table table-bordered w-100">
        <thead>
          <tr>
            <th>Item</th>
            <th>item price</th>
            <th>Quantity</th>
            <th>other cost</th>
            <th>Discount</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableRowList; let i=index">
            <td>
              <select class="form-select form-select-sm">
                <option>select</option>
                <option *ngFor="let p of productList" value="{{p.Id}}">{{p.ProdcutCode}}-{{p.ProdcutName}}</option>
              </select>
            </td>
            <td><input type="number" min="0" class="form-control form-control-sm text-end" /></td>
            <td><input type="number" min="0" class="form-control form-control-sm text-end" /></td>
            <td><input type="number" min="0" class="form-control form-control-sm text-end" /></td>
            <td><input type="number" min="0" class="form-control form-control-sm text-end" /></td>
            <td><input min="0" class="form-control form-control-sm text-end" readonly/></td>
            <td>
              <button type="button" class="btn btn-sm btn-danger"(click)="deleteRow(i)"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"></td>
            <td>
              <input class="form-control" placeholder="Grand Total" readonly/>
            </td>
            <td><button type="button"   class="btn btn-sm btn-success" (click)="onAddNewRow()"><i class="fa-solid fa-plus"></i></button></td>
          </tr>
        </tfoot>
      </table>

    </form>
  </div>
</div>

<br/>

<br/>

<br/>

<br/>





<form [formGroup]="addressForm" class="container mt-3" (ngSubmit)="logValue()">
  <div class="row justify-content-center">
    <div class="col-6">
        <button type="button" class="btn btn-primary mb-2" (click)="addAddress()">Add Address</button>
      <section class="container border mb-4 p-3" formArrayName="addresses"
        *ngFor="let address of addressControls; let i = index;">
        <div [formGroupName]="i">
          <div class="row">
            <div class="col-6">
                <h4>Address {{i + 1}}</h4>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">Remove</button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" formControlName="address" placeholder="St. Thomas Apartment"/>
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" class="form-control" formControlName="street" placeholder="South Street"/>
                  </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="city" placeholder="Mumbai"/>
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" formControlName="country" placeholder="India">
                      <option value="india">India</option>
                      <option value="usa">USA</option>
                      <option value="england">England</option>
                    </select>
                  </div>
            </div>
          </div>
        </div>

      </section>

      <div class="text-right">
          <input type="submit" class="btn btn-success" value="Submit"/>
      </div>

    </div>
  </div>

</form>
