

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>min-Price</th>
      <th>stock</th>
      <th>Quantity</th>
      <th>Sale-Price</th>
      <th>Discount</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of [1,3,4] let i=index" id="tr_{{i}}">
      <td>Product</td>
      <td>min-Price</td>
      <td>stock</td>
      <td>Quantity</td>
      <td>Sale-Price</td>
      <td>Discount</td>
      <td>Total</td>
    </tr>
  </tbody>
</table>

<!-- <i class="fa-solid fa-pen-to-square"></i> -->
