<p>
  formArray-practice works!
</p>


<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">

  <p>
    <label for="name">Name </label>
    <input type="text" id="name" name="name" formControlName="name">
  </p>


  Skills:
  <!-- <div formArrayName="skills">
    <div *ngFor="let skill of getSkills.controls; let i=index">
      <div [formGroupName]="i">
        {{i}}
        skill name :
        <input type="text" formControlName="skill">
        exp:
        <input type="text" formControlName="exp">

        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div> -->
  <table class="table table-bordered w-100">
    <tbody formArrayName="skills">
      <tr  *ngFor="let skill of getSkills.controls; let i=index" [formGroupName]="i" >
        <td> skill name :
          <input type="text" formControlName="skill">
        </td>
        <td>
          exp:
          <input type="text" formControlName="exp">
        </td>
        <td>
          <button (click)="removeSkill(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>


<p>
  <button type="button" (click)="addSkills()">Add</button>
</p>

{{this.skillsForm.value | json}}
