
<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      Purchase List
    </h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="2"class="text-center">Purchase date</th>
          <th rowspan="2"class="text-center">Supplier</th>
          <th colspan="3" class="text-center">Total</th>
          <th rowspan="2"class="text-center">Net Total</th>
          <th rowspan="2"class="text-center">Action</th>
        </tr>
        <tr>

          <th class="text-center">purchase</th>
          <th class="text-center">Cost</th>
          <th class="text-center">Discount</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of purchaseList; let i=index;">
          <td>{{item.PurchaseDate}}</td>
          <td>{{item.SupplierId}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

