<div class="card">
  <div class="card-header">
    <h3 class="card-title">Add new customer</h3>
  </div>
  <div class="card-body">

    <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
      <input type="hidden" ngModel name="CustomerId"   [(ngModel)]="customerDataById.CustomerId"/>
      <div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="CustomerName">Customer Name</span>
          <input type="text" class="form-control" aria-label="CustomerName" aria-describedby="CustomerName"ngModel name="CustomerName"required #customerName="ngModel" [(ngModel)]="customerDataById.CustomerName">
        </div>
        <span class="error_block" *ngIf="customerName.invalid && customerName.touched">Please provide customer name</span>
      </div>

      <div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="CustomerPhone">Phone/Mobile</span>
          <input type="text" class="form-control" aria-label="CustomerPhone" aria-describedby="CustomerPhone"ngModel name="CustomerPhone"required #CustomerPhone="ngModel" [(ngModel)]="customerDataById.CustomerPhone">
        </div>
        <span class="error_block"*ngIf="CustomerPhone.invalid && CustomerPhone.touched">Please provide customer phone/mobile</span>
      </div>

      <div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="CustomerAddress">Customer address</span>
          <textarea type="text" class="form-control" aria-label="CustomerAddress" aria-describedby="CustomerAddress"ngModel name="CustomerAddress"required #CustomerAddress="ngModel" [(ngModel)]="customerDataById.CustomerAddress"></textarea>
        </div>
        <span class="error_block" *ngIf="CustomerAddress.invalid && CustomerAddress.touched">Please provide customer address</span>
      </div>


      <div class="input-group mb-3">

        <button [disabled]="customerForm.invalid" type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-danger" (click)="onReset()">reset</button>

     </div>

    </form>

  </div>
  <div class="card-footer"></div>
</div>
