<div class="card">
  <div class="card-header">
   <h4 class="card-title"> Add new user</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="userName" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="mb-3">
            <label for="consfirmPassord" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="consfirmPassord" />
          </div>
          <div class="mb-3">
           <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
